{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="row justify-content-around">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 my-5">

            <a href="{{ path('profile') }}" class="text-white my-3"><i class="fas fa-arrow-left"></i> BACK TO THE PROFILE</a>

            <div class="card my-5 py-5">
                <div class="card-body">
                    <h1 class="text-center pb-1"><i class="fas fa-arrow-down"></i> {{ title }}</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
                {% for message in app.flashes('notice') %}
                <div class="card-footer alert alert-info">
                    <p class="text-center">{{ message }}</p>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}