{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	
	{# latest news #}
	{% if article is empty %}
	{% else %}
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 w-100">
			<div id="parallax" style="background-image: url({{ asset('assets/images/') }}/{{ article.images[0] }});">
				<div class="d-flex flex-column" style="position: absolute; bottom: 0;">
					<a href="{{ path('news_show', {'id': article.id}) }}" class="btn btn-danger ml-2" style="max-width: 75px;">READ</a>
					<h2 class="text-white ml-2">{{ article.title }}</h2>		
				</div>
			</div>
		</div>
	</div>
	{% endif %}


	<div class="row">

		{# news #}
		<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mt-2 mb-2">
			<div class="row">
			{% if news is empty %}
			{% else %}
				{% for id, article in news %}
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mt-2 mb-2">
					<div class="card bg-dark text-white">
						<div class="card-header">
							<p class="text-center" id="topspots">NEWS</p>
						</div>
						<div class="card-body">
							<img src="{{ asset('assets/images/') }}/{{ article.images[0] }}" class="w-100" style="height: 200px;">
						</div>
						<div class="card-footer">
							<a href="{{ path('news_show', {'id': article.id}) }}"><h3>{{ article.title }}</h3></a>
							<small>{{ article.getCreatedAt()|date("m/d/Y") }}</small>
							<p>{{ article.body|truncate(40, true) }}...</p>
						</div>
					</div>
				</div>
				{% endfor %}
			{% endif %}	
			</div>
		</div>

		{# number of total posts #}
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 col-sm-12">
		
			<div class="d-flex flex-row justify-content-around flex-wrap my-2 mx-2 py-1 px-1 text-center">		
				<a href="#" class="text-white" style="font-size: 30px;">
					{{ count_posts }} spots
				</a>
				<a href="#" class="text-white">
					{{ count_posts_by_day }} spots in the last 24 hours
				</a>
			</div>
		
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			{# <?php include "includes/create_post_modal.php"; ?> #}
			<button class="btn btn-info w-100 mt-1 mb-3" data-toggle="modal" data-target="#newPost"><i class="fas fa-camera"></i> UPLOAD</button>
		{% endif %}

		</div>

	</div>

{% endblock %}
