{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<div class="row py-5 text-white">

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex flex-column justify-content-around flex-wrap text-center">
        	<a href="{{ path('admin_profile') }}" class="text-white mt-3 mb-3"><i class="fas fa-arrow-left"></i> BACK TO THE ADMIN PANEL</a>

			<h1>{{ title }}</h1>

            {% for message in app.flashes('notice') %}
            <div class="card-header alert alert-danger">
                <p class="text-center">{{ message }}</p>
            </div>
            {% endfor %}
		</div>

		<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">

			<table class="table text-white">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Email</th>
						<th>Image</th>
						<th>Created at</th>
						<th>View</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
				{% if users is empty %}
					<p class="alert alert-warning text-center">0 new users!</p>		
					{% else %}
					{% for id, u in users %}
					<tr>
						<td>{{ u.id }}</td>
						<td>{{ u.firstname }} {{ u.lastname }}</td>
						<td>{{ u.email }}</td>
						<td><img src="{{ asset('assets/images/') }}/{{ u.profile_image }}" class="w-100" style="height: 50px;"></td>
						<td>{{ u.created_at|date("m/d/Y") }}</td>
						<td><a href="{{ path('admin_users_show', {'id': u.id}) }}" class="btn btn-info w-100">View</a></td>
						<td><a href="{{ path('admin_users_delete', {'id': u.id}) }}" class="btn btn-danger w-100">DELETE</a></td>
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>

		</div>

	</div>

{% endblock %}
