{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	<div class="row">

		{# news #}
		<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mt-2 mb-2">

			<div class="d-flex flex-column justify-content-around flex-wrap text-center text-white">
            	<a href="{{ path('admin_profile') }}" class="text-white mt-3 mb-3"><i class="fas fa-arrow-left"></i> BACK TO THE ADMIN PANEL</a>
				<h1>News</h1>
			</div>
			
		{% if news is empty %}
			<p class="text-center alert alert-danger">0 articles!</p>
		{% else %}
	
			{% for id, article in news %}
			<div class="card bg-primary my-1 mx-1 py-1 px-1">
				<div class="card-body text-white flex-wrap">
					<h3 class="text-center">{{ article.title }} - <small>({{ article.getCreatedAt()|date("m/d/Y") }})</small></h3>
					<div class="row mb-1">
					{% for id, image in article.images %}
						{% if id == 0 %}
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-0">
							<img src="{{ asset('assets/images/') }}{{ image }}" class="w-100 img-fluid" style="height: 250px;" />
						</div>
						{% else %}
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-0">
							<img src="{{ asset('assets/images/') }}{{ image }}" class="w-100 img-fluid" style="height: 250px;"  />
						</div>
						{% endif %}
					{% endfor %}
					</div>
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<p>{{ article.body }}</p>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							<a href="{{ path('news_delete', {'id': article.id}) }}" class="btn btn-danger w-100">DELETE</a> 
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		{% endif %}
		</div>

		{# create article #}
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 my-2">
			<div class="card bg-primary">
                {% for message in app.flashes('notice') %}
                <div class="card-header alert alert-warning">
                    <p class="text-center">{{ message }}</p>
                </div>
                {% endfor %}
				<div class="card-body">
					<h2 class="text-center">Create</h2>
					
					{{ form_start(form) }}
		            {{ form_widget(form) }}
		            {{ form_end(form) }}
				</div>			
            </div>
		</div>

	</div>
{% endblock %}
