{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<div class="row py-5 text-white">
		
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex flex-column justify-content-around flex-wrap text-center">
        	<a href="{{ path('admin_profile') }}" class="text-white mt-3 mb-3"><i class="fas fa-arrow-left"></i> BACK TO THE ADMIN PANEL</a>

			<h1>{{ title }}</h1>

            {% for message in app.flashes('notice') %}
            <div class="card-header alert alert-danger">
                <p class="text-center">{{ message }}</p>
            </div>
            {% endfor %}
		</div>

		<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">

			<table class="table text-white">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Email</th>
						<th>Subject</th>
						<th>Message</th>
						<th>Created at</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
				{% if messages is empty %}
					<p class="alert alert-warning text-center">0 new messages!</p>		
					{% else %}
					{% for id, m in messages %}
					<tr>
						<td>{{ m.id }}</td>
						<td>{{ m.name }}</td>
						<td>{{ m.email }}</td>
						<td>{{ m.subject }}</td>
						<td>{{ m.message }}</td>
						<td>{{ m.getCreatedAt()|date("m/d/Y") }}</td>
						<td><a href="{{ path('messages_delete', {'id': m.id}) }}" class="btn btn-danger w-100">DELETE</a></td>
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>

		</div>
	</div>

{% endblock %}
