{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	{# spotter's profile info #}
	<div class="row pt-3 pb-1 text-white">
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			<p>Firstname <span class="float-right">{{ user.firstname }}</span></p>
			<p>Lastname <span class="float-right">{{ user.lastname }}</span></p>
			<p>Username <span class="float-right">{{ user.username }}</span></p>
			<p>Email <span class="float-right">{{ user.email }}</span></p>
			<p>Age <span class="float-right"{{ user.date_of_birth|date("m/d/Y") }}</span></p>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			<div class="d-flex flex-column flex-wrap align-items-center">
				<img src="{{ asset('assets/images/') }}/{{ user.profile_image }}" id="profile-img">
			</div>
		</div>
		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			<p>City <span class="float-right">{{ user.city }}</span></p>
			<p>Country <span class="float-right">{{ user.country }}</span></p>
			<p>Gender <span class="float-right">{{ user.gender }}</span></p>
			<p>Spots <span class="float-right">{{ spots|length }}</span></p>
			<p>Profile created at <span class="float-right">{{ user.created_at|date("m/d/Y") }}</span></p>
		</div>
	</div>
	
	<div class="row">

		{# user's spots #}
		<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
			<h2 class="text-white">All spots from {{ user.username }} ({{ user.firstname }} {{ user.lastname }})</h2>
		
			{% if spots is empty %}
				<p class="alert alert-warning text-center">0 spots by this user.</p>
			{% else %}
			<div class="row">
			{% for id, s in spots %}
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 py-2">
					<div class="card">
						<div class="card-body p-0">
							<a href="{{ path('spots_show', {'id': s.id}) }}">
								<img src="{{ asset('assets/images/') }}/{{ s.images[0] }}" class="w-100" style="height: 200px;">
							</a>
							<p class="float-left">
								<a href="{{ path('brand_show', {'id': s.brand_id}) }}">{{ s.brand_title }}</a> 
								<a href="{{ path('model_show', {'id': s.model_id}) }}">{{ s.model_title }}</a>
							</p>
							<p class="float-right">{{ s.city }}, {{ s.country }}</p>
						</div>
						<div class="card-footer">
							<p class="float-left">
								<i class="far fa-user" style="font-size: 20px;"></i>
								<a href="{{ path('spotter', {'id': s.user_id}) }}">{{ s.username }}</a>
							</p>	
							<p class="float-right">{{ s.created_at|date("m/d/Y") }}</p>								
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			{% endif %}
		</div>

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
			{# sidebar #}
			{% include 'includes/sidebar.html.twig' %}
		</div>

	</div>

{% endblock %}
